MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=credit_card_payment_system
MYSQL_USER=credit_user
MYSQL_PASSWORD=change-this-db-password
DJANGO_SECRET_KEY=change-this-django-secret
JWT_SECRET_KEY=change-this-shared-jwt-secret
