MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=credit_card_payment_system
MYSQL_USER=credit_user
MYSQL_PASSWORD=change-this-db-password

DJANGO_SECRET_KEY=change-this-django-secret
JWT_SECRET_KEY=change-this-shared-jwt-secret


# =========================================================
# EMAIL NOTIFICATIONS
# =========================================================

# Enables email notifications in Django and FastAPI
EMAIL_NOTIFICATIONS_ENABLED=True


# =========================================================
# DJANGO EMAIL / SMTP
# =========================================================

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password

EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

DEFAULT_FROM_EMAIL=your-email@gmail.com


# =========================================================
# FASTAPI EMAIL / SMTP
# =========================================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password
SMTP_FROM_EMAIL=your-email@gmail.com

SMTP_USE_TLS=True
SMTP_USE_SSL=False