SECRET_KEY=your-django-secret-key
DEBUG=True

DB_NAME=credit_card_payment_system
DB_USER=credit_user
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=3306

JWT_SECRET_KEY=your-jwt-secret-key

FASTAPI_URL=http://localhost:8001